# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Node (jika nanti pakai tooling)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Logs & env
*.log
.env
.env.local
